<div class="container">
  <br>
  <div class="card" style="border: none;">
    <div class="card-header">
      <h5>Lista de tarefas</h5>
    </div>
    <div class="card-body">
      <form>
        <div class="row">
          <div class="col-md-4">
            <label for="nome">Nome tarefa:</label>
            <input type="text" id="nomeTarefa" class="form-control" name="nomeTarefa"
              [(ngModel)]="seletor.nomeTarefa" />
          </div>
          <div class="col-md-4">
            <label for="nome">Tipo tarefa:</label>
            <input type="text" id="tipoTarefa" class="form-control" name="tipoTarefa"
              [(ngModel)]="seletor.tipoTarefa" />
          </div>
          <div class="col-md-4">
          </div>
          <!--  -->
          <div class="col-md-4">
            <label>Realizada:</label><br>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="realizadaSim" name="realizadaSim"
                [(ngModel)]="seletor.realizado" [value]="true">
              <label class="form-check-label" for="realizadaSim">Sim</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-16 form-group">
              <label for="btnPesquisar" class="form-label">&nbsp;</label>
              <button type="button" class="btn btn-outline-secondary"
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                name="btnPesquisar" (click)="pesquisar()">
                Pesquisar
              </button>
              <label for="btnLimpar" class="form-label">&nbsp;</label>
              <button type="button" class="btn btn-outline-primary"
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                (click)="limpar()">
                Limpar
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <br>
  <nav class="row">
    <div class="col-md-3">
      <!-- Componente de quantidade de registros por página -->
      <label for="quantidadeRegistros">Quantidade de registros por página:</label>
      <select class="form-select" [(ngModel)]="seletor.limite" (change)="atualizarPaginacao()">
        <option value="3">3</option>
        <option value="6">6</option>
        <option value="20">20</option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="quantidadeRegistros">&nbsp;</label>
      <!-- Componente de paginação -->
      <ul class="pagination">
        <li class="page-item"><button [disabled]="seletor.pagina == 1" class="page-link"
            (click)="voltarPagina()">Anterior</button></li>

        <!-- Botões com as páginas construídos dinamicamente -->
        <li class="page-item" *ngFor="let indice of criarArrayPaginas()" (click)="irParaPagina(indice)"><button
            class="page-link">{{indice}}</button></li>

        <li class="page-item"><button [disabled]="seletor.pagina == totalPaginas" class="page-link"
            (click)="avancarPagina()">Próxima</button></li>
      </ul>
    </div>
  </nav>
  <div class="row justify-content-evenly"
    style="background-color: rgb(255, 253, 253); font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
    <div class="col-md-5 p-3 bg-info bg-opacity-10 rounded-end card mb-3 shadow-lg p-2 mb-5 bg-body-tertiary rounded"
      style="width: 18rem; columns: md -3px; border: none;" *ngFor="let tarefa of tarefas">
      <div class="row">
        <div class="row">
          <div class="col-md-8">
            <h2>{{ tarefa.tipoTarefa }}</h2>
          </div>
          <div class="col-md-4">
            <button class="tarefaIcons btn btn-sm" (click)="excluir(tarefa)" style=" margin-left: 20px; " [ngClass]="{
              'estudar1': tarefa.tipoTarefa === 'Estudar',
              'rancho2': tarefa.tipoTarefa === 'Rancho',
              'compra3': tarefa.tipoTarefa === 'Compra',
              'exercicio4': tarefa.tipoTarefa === 'Exercicio',
              'diarios5': tarefa.tipoTarefa === 'Diarios'
            }">
              <i class="bi bi-ban" style="color: red;"></i> Excluir
            </button>
          </div>
        </div>
      </div>
      <div class="card-header rounded" [ngClass]="{
        'estudar1': tarefa.tipoTarefa === 'Estudar',
        'rancho2': tarefa.tipoTarefa === 'Rancho',
        'compra3': tarefa.tipoTarefa === 'Compra',
        'exercicio4': tarefa.tipoTarefa === 'Exercicio',
        'diarios5': tarefa.tipoTarefa === 'Diarios'
      }">
        <div class="titulo rounded">
          <h5 class="card-title" style="font-size: 20px; font-family: Arial, Helvetica, sans-serif;">{{ tarefa.nomeTarefa }}</h5>
        </div>
        <div class="botao row" >
          <button class="tarefaIcons rounded" (click)="atualizar(tarefa.idTarefa)"
          [ngClass]="{
            'estudar1': tarefa.tipoTarefa === 'Estudar',
            'rancho2': tarefa.tipoTarefa === 'Rancho',
            'compra3': tarefa.tipoTarefa === 'Compra semanal',
            'exercicio4': tarefa.tipoTarefa === 'Exercicio',
            'diarios5': tarefa.tipoTarefa === 'Diarios'
          }">
            <i class="editar bi bi-brush-fill" (click)="atualizar(tarefa.idTarefa)">Editar.</i>
          </button>
        </div>
        <div class="checkbox">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Concluido.
            </label>
          </div>
        </div>
      </div>
      <div class="card-body">
        <li class="list-group-item">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Novo item" [(ngModel)]="item.descricao">
              <button class="btn btn-outline-secondary" type="button" (click)="adicionarItem()"><i class="bi bi-plus-circle"></i></button>
            </div>
          </li>
          <ul class="list-group list-group-flush">
            <li class="list-group-item rounded" *ngFor="let item of tarefa.itensTarefa"
             style="background-color: rgb(231, 231, 231);">
              {{ item.descricao }}
              <button class="btn btn-sm btn-danger" (click)="excluirItem(item)">
              Excluir
              </button>
              <button class="btn btn-sm btn-primary" (click)="alterarItem(item)">
                Editar
              </button>
            </li>
        </ul>
      </div>
    </div>
  </div>

</div>