@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');



.fullscreen-container {
    background-color: #c4e7ff;
    height: 100vh; /* Altura da tela inteira */
    width: 100vw; /* Largura da tela inteira */


  }


form{
    background-color: #ffffff;
    border-radius: 1px;
    min-height: 150px;

}

label {
    font-family: "Inter", sans-serif;
    color: black;
}

.card{
    background-color: rgb(241, 248, 253);
    border-radius: 5px;
    box-shadow: #029ce9 0px 0px 0px 2px inset, #ffffff 10px -10px 0px -3px,#029ce9 10px -10px, #ffffff 20px -20px 0px -3px, #029ce9 20px -20px;

}

h5 {
    text-align: center;
    padding: 5px;
    font-family: "Montserrat", sans-serif;
}

.row {
    padding: 10px;
}

#btn button {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(-45deg,  #accad4, #69abee, #585fc2);
    width: 20%;
    height: 40px;
    border: none;
    font-size: 1.2em;
    color: #fff;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

#btn button:hover {
    background: linear-gradient(-45deg,  #56b9da, #0369ce, #020266);
}

#form {
    animation: iniciar 1.0s ease-out;
    pointer-events: all;
}

@keyframes iniciar {
    0% {
     top: -20%;
     opacity: 0;
     pointer-events: none;
   }
     100%{
     top: 0%;
     opacity: 100%;
     pointer-events: all;

   }

}


