<div class="fullscreen-container">
  <div id="form" class="shadow-lg p-3 mb-5 bg-body-tertiary rounded text-center ">
    <div>
      <img src="./assets/imagem.png" alt="imagem-login" style="width: 200px; height: auto;">
    </div>
    <form #ngForm="ngForm">
      <h2 class="title">Login</h2>
      <label for="email">Email</label>
      <div>
        <input class="input" [ngClass]="(dto.login && ngForm.dirty) ? 'form-control is-invalid' : 'form-control'"
          [(ngModel)]="dto.login" id="email" name="email" placeholder="Insira seu email" type="text" style="padding-left: 15px;">
      </div>
      <label for="senha">Senha</label>
      <div>
        <input class="input" [ngClass]="(dto.senha && ngForm.dirty) ? 'form-control is-invalid' : 'form-control'"
          [(ngModel)]="dto.senha" id="senha" name="senha" placeholder="Insira sua senha" type="password"
          style="padding-left: 15px;">
      </div>

      <div id="btn">
        <button type="button" class="btn btn-primary" (click)="realizarLogin()" [disabled]="!ngForm.valid">
          Entrar
        </button>
      </div>
      <div class="pt-3">
        <span class="align-items-start">
          <p style="color: #69aaff;">OU</p>
        </span>
      </div>
      <div id="btn">
        <button type="button" class="btn btn-warning border-dark" (click)="cadastro()">
          Cadastre-se
        </button>
      </div>
    </form>
  </div>
</div>



<!-- <div class="fullscreen-container container-fluid g-5" style="background-color: #e7f1fc;">
    <div class="row text-center p-2 align-items-center justify-content-center">
      <div class="col col-md-3 pt-5">
        <div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
          <div class="card-body">
            <form #ngForm="ngForm">
              <div class="mb-1">
                <label class="form-label" for="email">E-mail</label>
                <input
                  [ngClass]="(dto.login && ngForm.dirty) ? 'form-control is-invalid' : 'form-control'"
                  [(ngModel)]="dto.login"
                  type="text"
                  class="form-control"
                  name="email"
                  required
                />
                <div class="invalid-feedback">Informe o email.</div>
              </div>
              <div class="mb-1">
                <label class="form-label" for="senha">Senha</label>
                <input
                  [ngClass]="(dto.senha && ngForm.dirty) ? 'form-control is-invalid' : 'form-control'"
                  [(ngModel)]="dto.senha"
                  type="password"
                  class="form-control"
                  name="senha"
                  required
                />
                <div class="invalid-feedback">Informe a senha.</div>
              </div>
              <div class="mb-3 text-center">
                <a href="#" class="text-primary"></a>
              </div>
              <div class="text-center">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="realizarLogin()"
                  [disabled]="!ngForm.valid"
                >
                  Entrar
                </button>
              </div>
              <div class="pt-3">
                <span class="align-items-start">
                  <p class="text-primary">OU</p>
                </span>
              </div>
              <div class="align-items-start">
                <button type="button" class="btn btn-warning border-dark" (click)="cadastro()">
                  Cadastre-se
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div> -->
