<app-home></app-home>
<div class="container">
  <br>
  <div class="card custom-border">
    <div class="card-header">
      <h5>Lista de tarefas</h5>
    </div>
    <div class="card-body">
      <form>
        <div class="row">
          <div class="col-md-4">
            <label for="nome">Nome tarefa:</label>
            <input type="text" id="nomeTarefa" class="form-control" name="nomeTarefa"
              [(ngModel)]="seletor.nomeTarefa" />
          </div>
          <div class="col-md-4">
            <label for="nome">Tipo tarefa:</label>
            <input type="text" id="tipoTarefa" class="form-control" name="tipoTarefa"
              [(ngModel)]="seletor.tipoTarefa" />
          </div>
          <!--<div class="col-md-4">
            <label>Realizada:</label><br>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="realizadaSim" name="realizadaSim"
                  [(ngModel)]="seletor.realizado" [value]="true">
              <label class="form-check-label" for="realizadaSim">Sim</label>
            </div>
          </div>-->
        </div>
        <div class="row">
          <div class="col-md-12 form-group">
            <label for="btnPesquisar" class="form-label">&nbsp;</label>
            <button type="button" class="btn btn-outline-secondary"
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
              name="btnPesquisar" (click)="pesquisar()">
              Pesquisar
            </button>
            <label for="btnLimpar" class="form-label">&nbsp;</label>
            <button type="button" class="btn btn-outline-primary"
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
              (click)="limpar()">
              Limpar
            </button>
            <button type="button" class="btn btn-outline-secondary"
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
              name="btnPesquisar" (click)="voltar()">
              Voltar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-md-4" *ngFor="let tarefa of tarefas">
      <div class="card mb-4">
        <div id="div-btn" class="card-header d-flex align-items-center"
          style="background-color: #ffffff;font-size: larger">
          <span>{{ tarefa.nomeTarefa }}</span>
          <div class="d-flex ms-auto">
            <button id="btn-green" class="btn btn-outline-success me-2" (click)="atualizar(tarefa.idTarefa)">
              <i class="bi bi-pen"></i>
            </button>
            <button class="btn btn-outline-danger" (click)="excluir(tarefa)">
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </div>
        <div style="background-color: #f2f7ff; font-size: medium; padding-left: 15px; font-style: italic;">
          <li class="list-group-item" style="padding: 10px 0px 20px 0px;">Tipo: {{ tarefa.tipoTarefa }}</li>
          <li class="list-group-item rounded" *ngFor="let itens of tarefa.itensTarefa">
            <input type="checkbox" [(ngModel)]="itens.realizado" >
            {{ itens.descricao }}
            <button class="btn btn-sm" (click)="excluirItem(itens)">
              <i class="bi bi-ban" style="color: red;"></i>
            </button>
          </li>
        </div>
        <div class="card-body">
          <li class="list-group-item">
            <div class="input-group mb-3" style="justify-content: center; display: flex;">
              <button class="add btn btn-outline-secondary" type="button" (click)="adicionarItem(tarefa)"
                style="border: none; box-shadow: none;"><i class="bi bi-plus-circle" *ngIf="!tarefa.criandoItem"
                  style="color: blue;"></i></button>
              <input type="text" class="form-control" placeholder="Novo item" [(ngModel)]="novoItem.descricao"
                *ngIf="tarefa.criandoItem">
              <button class="btn btn-outline-secondary" type="button" (click)="salvarItem(tarefa.idTarefa)"
                *ngIf="tarefa.criandoItem"><i class="bi bi-check-circle"></i></button>
            </div>
          </li>
        </div>
      </div>
    </div>
  </div>
</div>